/* Required height of parents of the Full Page Intro and Intro itself */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.google-maps {
  margin-top: 50px;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.map_icon {
  margin-right: 15px;
  font-size: 22px;
}
iframe {
  border-radius: 10px;
}
body {
  /* background: url("../img/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.logo {
  margin: 0 !important;
}

.title {
  font-weight: 900;
}

.content {
  font-family: "Barlow", sans-serif;
}

span.h4 {
  font-family: "Barlow", sans-serif;
}

.phone_icon {
  transform: rotate(90deg);
  color: white;
  margin-right: 15px;
}

.phone_btn {
  color: white !important;
  font-size: 1.2rem;
  background-color: #be8f47;
  border: #a17430;
}
.phone_btn:hover {
  background-color: #a17430;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#notifs-forn-input,
#notifs-form-input:focus {
  border: solid 2px #ccc;
}

.top {
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  .top {
    margin-top: 3rem !important;
  }
}
